<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <base href="/" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{'/css/base.css'}"/>
    <link rel="stylesheet" th:href="@{'/css/login.css'}"/>
    <title>Login</title>
</head>
<body>
<div align="center">
    <div th:replace="base :: header"></div>
    <div id="main">
        <h3>Login</h3>
        <form th:action="@{/login}" method="post">
            <p>Email: <input type="text" name="Email"></p>
            <p>Password: <input type="password" name="Password"></p>
            <input type="submit" value="Login">
            <p th:if="${param.error}" id="error-msg">Invalid Email or Password</p>
        </form>
    </div>
    <footer th:replace="base :: footer"></footer>
</div>
</body>
</html>